/* -------------------------------------------
*  CSS file for Librobox v3 Super Flat theme
*  Author: Eduardo Robles
*  Email: eduardorobles02@gmail.com
*  Website: http://eduardorobles.com/
*  Color palatte from: flatuicolors.com
 -------------------------------------------*/


/* Outline-----------------------------------
1. Imports
2. Base style
3. Structure
4. Media Queries
 -------------------------------------------*/
/*Imports*/
@import "fonts.css";

/*Base style*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

body{
  background-color: #7f8c8d;/*grey*/
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

/* Structure---------------------------------
1. Main container
2. About container
3. Other Container
 -------------------------------------------*/


/*Main Container*/
.container-main {
  margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}

/*Home Container*/
#container-home {
  background-color: #f1c40f;/*yellow*/
  padding: 100px 20px 100px 20px;
  box-shadow: 7px 7px 5px #bdc3c7;
}

#container-home p{
  color:#2c3e50;/*midnight blue*/
}

a.home-links{ text-decoration: none; color: #2c3e50;}/*midnight blue*/
a.home-links:visited{color:#95a5a6;}/*concrete grey*/
a.home-links:hover{text-decoration: underline; color:#95a5a6;}/*concrete grey*/

#banner{
  color: #2c3e50; /*midnight blue*/
}

#banner-nav p{
  font-size: 16px;
  color: #2c3e50; /*midnight blue*/
}

#footer-txt{
  color: #2A1BFF;
}

/*About Containter*/
p{
  color: #FFFFFF;
}

#container-about {
  background-color: #9b59b6;/*amethyst*/
  padding: 100px 20px 100px 20px;
  box-shadow: 7px 7px 5px #bdc3c7;
}

#container-about p{
  color: #2c3e50;
}
/*Other Container*/


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
body{
  background-color: #e74c3c;/*alizarin*/
}

.container-main {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}

/*Home Container*/
#container-home {
  background-color: #f1c40f;/*yellow*/
  box-shadow: 7px 7px 5px #bdc3c7;
}

#banner{
  color: #000000;
  /*margin-left: 10px;*/
}

#banner-nav p a{
  font-size: 16px;
  color: #000000;
}

#footer-txt{
  color: #2A1BFF;
}

/*About Containter*/
p{
  color: #FFF;
}

#container-about {
  background-color: #34495e;/*wet asphalt*/
  color: #ecf0f1;/*clouds*/
  box-shadow: 7px 7px 5px #bdc3c7;
}

#container-about p{
  color: #ecf0f1;/*clouds*/
}
/*Other Container*/

}

/* Desktop Layout: 769px to a max of 960px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
body{
  background-color: #2c3e50;/*midnight blue*/
}

.container-main {
	width: 100%;
	max-width: 960px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}

/*Home Container*/
#container-home {
  background-color: #f1c40f;/*yellow*/
  box-shadow: 7px 7px 5px #bdc3c7;
}

#banner{
  color: #000000;
  /*margin-left: 10px;*/
}

#banner-nav p a{
  font-size: 16px;
  color: #000000;
}

#footer-txt{
  color: #2A1BFF;
}

/*About Containter*/
p{
  color: #000000;
}

#container-about {
  background-color: #1abc9c;/*torquise*/
  color: #ecf0f1;/*clouds*/
  box-shadow: 7px 7px 5px #bdc3c7;
}

#container-about p{
  color: #ecf0f1;/*clouds*/
}
/*Other Container*/

}
